In [236]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [237]:
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [238]:
df = pd.read_csv('a_b_test_ecom-ab_test2.csv')
df

            id     time  con_treat      page  converted
0       851104  11:48.6    control  old_page          0
1       804228  01:45.2    control  old_page          0
2       661590  55:06.2  treatment  new_page          0
3       853541  28:03.1  treatment  new_page          0
4       864975  52:26.2    control  old_page          1
...        ...      ...        ...       ...        ...
294473  751197  28:38.6    control  old_page          0
294474  945152  51:57.1    control  old_page          0
294475  734608  45:03.4    control  old_page          0
294476  697314  20:29.0    control  old_page          0
294477  715931  40:24.5  treatment  new_page          0

[294478 rows x 5 columns]

In [239]:
df.shape

(294478, 5)

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [241]:
df.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [242]:
df.isna().sum()

id           0
time         0
con_treat    0
page         0
converted    0
dtype: int64

In [243]:
df.con_treat.value_counts()

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [244]:
df.id.nunique()

290584

In [245]:
df[df['id']>0]

            id     time  con_treat      page  converted
0       851104  11:48.6    control  old_page          0
1       804228  01:45.2    control  old_page          0
2       661590  55:06.2  treatment  new_page          0
3       853541  28:03.1  treatment  new_page          0
4       864975  52:26.2    control  old_page          1
...        ...      ...        ...       ...        ...
294473  751197  28:38.6    control  old_page          0
294474  945152  51:57.1    control  old_page          0
294475  734608  45:03.4    control  old_page          0
294476  697314  20:29.0    control  old_page          0
294477  715931  40:24.5  treatment  new_page          0

[294478 rows x 5 columns]

In [246]:
df[df['con_treat']=='control'].describe()

                  id      converted
count  147202.000000  147202.000000
mean   788123.098035       0.120399
std     91278.896888       0.325429
min    630002.000000       0.000000
25%    709287.000000       0.000000
50%    788053.500000       0.000000
75%    867155.500000       0.000000
max    945998.000000       1.000000

In [247]:
df[df['con_treat']=='treatment'].describe()

                  id      converted
count  147276.000000  147276.000000
mean   787825.226283       0.118920
std     91142.800641       0.323695
min    630000.000000       0.000000
25%    708729.500000       0.000000
50%    787837.500000       0.000000
75%    866693.750000       0.000000
max    945999.000000       1.000000